<div class="row d-flex justify-content-center mt-5">
  <div class="col-5">
    <h1 class="text-center">Account Login</h1>
    <form action="/login" method="POST" class="text-center">
      <div class="form-group mt-5">
        <input type="email" class="form-control form-control-lg" name="email" id="email" placeholder="Email"
          aria-describedby="emailHelp" required>
      </div>
      <div class="form-group mt-4">
        <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Password"
          required>
      </div>
      {{#if errorNotice}}
      <div class="d-flex justify-content-center align-items-center pt-3"
        style="background-color: rgb(241, 204, 210); height: 50px;">
        <p class="text-center" style="color: red;">{{ errorNotice }}</p>
      </div>
      {{/if}}
      <button type="submit" class="btn btn-outline-dark btn-lg mt-5" style="width:150px;">Sign in</button>
    </form>

  </div>
</div>